@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
   Margin: 0;
   padding: 0;
}

body {
   font-family: 'Noto Sans', sans-serif;
}

/*titulos principales*/
.titulo__principal--md {
   text-align: center;
   color: #0032a0;
   font-size: 24px;
   margin: auto;
   padding: 40px 0px;
}

/*flexbox Home*/
#contenido__home {
   display: grid;
   grid-template-rows: repeat(7, auto);
   grid-template-areas:
      "header"
      "slider"
      "contenido__convenios"
      "especialidades__home"
      "nosotros__home"
      "suscribete"
      "footer";
}

#header {
   grid-area: header;
}

#slider {
   grid-area: slider;
}

#contenido__convenios {
   grid-area: contenido__convenios;
}

#especialidades__home {
   grid-area: especialidades__home;
}

#nosotros__home {
   grid-area: nosotros__home;
}

#suscribete {
   grid-area: suscribete;
}

#footer {
   grid-area: footer;
}

/*Menú principal*/
.menu__header {
   background-color: rgba(243, 248, 250, 0.932);
   position: sticky;
   top: 0;
   padding: 10px 30px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.ul__header {
   display: flex;
}

.li__header {
   list-style: none;
   padding: 20px 0px;
   margin-right: 20px;
}

.enlace__header {
   font-size: 16px;
   text-decoration: none;
   color: #0f1d3a;
}

/*menu principal hover*/
.enlace__header:hover {
   color: #89bada;
   font-weight: 500;
   border: solid 0px #f9f9f9;
}

.active {
   color: #89bada;
   font-weight: 500;
   border: solid 0px #f9f9f9;
   text-decoration: none;
}

/*banner principal*/
.banner__principal {
   width: 100%;
   height: auto;
}

/*banner animacion*/
@keyframes bannerAnimaciones{
   0%{background-image: url(../img/banner01.jpg);}
   25%{background-image: url(../img/banner02.jpg);}
   50%{background-image: url(../img/banner03.jpg);}
   75%{background-image: url(../img/banner04.jpg);}
   100%{background-image: url(../img/banner05.jpg);}
}

#slider__general{
   height: 65vh;
   background-size: cover;
   animation-name: bannerAnimaciones;
   animation-duration: 20s;
   animation-iteration-count: infinite;
}

/*Convenios*/
.contenido__convenios {
   background-color: #f9f9fa;
   padding: 40px 0px;
}

.logos__convenios--sx {
   display: flex;
   flex-flow: row nowrap;
   justify-content: center;
}

.enlace__mas {
   text-align: center;
   padding: 40px;
   font-size: 1.8 rem;
   font-weight: 600;
   text-decoration: none;
   color: #0f1d3a;
   display: flex;
   justify-content: center;
}

/*enlace mas hover*/
.enlace__mas:hover {
   color: #89bada;
   font-weight: 600;
   border: solid 0px #f9f9f9;
}

/*especialidades Home*/
.contenedor__especialidad {
   height: auto;
   width: auto;
   background: #0032a0;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   justify-items: center;
   flex-wrap: wrap;
   text-decoration: none;
}

.fondo__enlace {
   background: #0a96ff;
   padding: 0;
   margin: 0;
}

/*Quienes Somos Home*/
article {
   display: flex;
   justify-content: center;
   padding: 0;
   margin: 0;
}

.imagen__medico {
   width: 40%;
   height: auto;
   padding: 50px 0px;
   border-radius: 5px;
   bottom: 0;
   left: 0;
}

.contenido__staff {
   text-align: justify;
   background: #ba81f0;
   color: #f9f9f9;
   width: 600px;
   bottom: 0;
   left: 0;
   height: auto;
   margin: 50px 0px;
   padding: 50px 50px;
}

.boton__mas {
   padding: 50px 0px;
   text-align: center;
   display: flex;
   justify-content: end;
   font-size: 1.8 rem;
   text-decoration: none;
   color: #ffffff;
}

/*enlace mas hover*/
.boton__mas:hover {
   color: #080311;
   font-weight: 600;
   border: solid 0px #080311;
}

/*formulario suscripcion*/
main {
   background: linear-gradient(to right, #00b4f6 0%, #00d9e2 66%, #00ecd8 100%);
   display: flex;
   justify-content: center;
   justify-items: center;
   color: #fff;
   padding: 20px;
}

.seccion__formulario {
   padding-left: 50px;
}

.boton__azul {
   background: #0032a0;
   line-height: 40px;
   color: #fff;
   border: none;
   border-radius: 25px;
   box-shadow: 0 0 0 0 rgb(0 0 0 / 0%);
   padding: 0 30px;
   cursor: pointer;
   margin: 2px;
}

.input__suscripcion {
   cursor: text;
   margin: 0;
   width: 100%;
   height: 40px;
   line-height: 40px;
   padding: 0 130px 0 20px;
   border: none;
   border-radius: 25px;
   box-sizing: border-box;
   font-size: 14px;
   color: #646464;
}

/*Menú footer principal*/
footer {
   margin: 50px;
}

.menu__footer {
   width: 100%;
   position: static;
   left: 0px;
   padding: 20px 0px;
   margin: 20px 0px;
   display: flex;
   justify-content: space-between;
   justify-items: center;
}

.li__footer {
   list-style: none;
   padding: 20px 0px;
   margin-right: 20px;
}

.enlace__footer {
   font-size: 1.8 rem;
   text-decoration: none;
   color: #0f1d3a;
}

/*menu footer hover*/
.enlace__footer:hover {
   color: #89bada;
   font-weight: 600;
   border: solid 0px #f9f9f9;
}

.ul__footer {
   display: flex;
}

.footer__copyright {
   text-align: center;
   padding: 20px 0px 0px 0px;
}

@media (min-width : 1024px) {
   .menu__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
   }

   .menu__footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
   }
}

@media (min-width: 768px) and (max-width: 1024px) {
   .menu__header {
      position: sticky;
      display: flex;
      flex-direction: column;
   }

   .menu__footer {
      display: flex;
      flex-direction: column;
   }

   .imagen__medico {
      width: 48%;
      height: auto;
   }

   /*banner principal*/
   #slider__general{
      height: 55vh;
   }


}

@media (min-width: 360px) and (max-width: 768px) {
   .menu__header {
      position: sticky;
      display: flex;
      flex-direction: column;
   }

   .menu__footer {
      display: flex;
      flex-direction: column;
   }

   article {
      display: flex;
      flex-direction: column-reverse;
   }

   .imagen__medico {
      width: 100%;
      padding: 0px;
   }

   .contenido__staff {
      height: auto;
      width: auto;
      padding: 20px 20px;
      margin: 0px 0px;
   }

   /*banner principal*/
   #slider__general{
      height: 45vh;
   }

}

/*Nosotros*/
/*flexbox Nosotros*/
#contenido__nosotros {
   display: grid;
   grid-template-rows: repeat(6, auto);
   grid-template-areas:
      "header"
      "slider"
      "nosotros__contenido"
      "nosotros__card"
      "suscribete"
      "footer";
}

#header {
   grid-area: header;
}

#slider {
   grid-area: slider;
}

#nosotros__contenido {
   grid-area: nosotros__contenido;
}

#nosotros__card {
   grid-area: nosotros__card;
}

#suscribete {
   grid-area: suscribete;
}

#footer {
   grid-area: footer;
}

.contenido__nosotros {
   text-align: justify;
   font-size: 1.2 rem;
   background: #f3fcfc;
   color: #0a0a0a;
   word-spacing: 50%;
   width: 600px;
   height: auto;
   padding: 50px 50px;
}

.img__nosotros {
   width: 40%;
   height: auto;
   bottom: 0;
   left: 0;
}

.img {
   width: 100%;
   height: auto;
   bottom: 0;
   left: 0;
}

.contenedor__card {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   justify-items: center;
   flex-wrap: nowrap;
   text-decoration: none;
   padding: 40px 0px;
}

@media (min-width : 1024px) {
   .menu__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
   }

   .menu__footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
   }
}

@media (min-width: 768px) and (max-width: 1024px) {
   .menu__header {
      position: sticky;
      display: flex;
      flex-direction: column;
   }

   .menu__footer {
      display: flex;
      flex-direction: column;
   }

   .img__nosotros {
      width: auto;
   }
}

@media (min-width: 360px) and (max-width: 768px) {
   .menu__header {
      position: sticky;
      display: flex;
      flex-direction: column;
   }

   .menu__footer {
      display: flex;
      flex-direction: column;
   }

   article {
      display: flex;
      flex-direction: column-reverse;
   }

   .img__nosotros {
      width: 100%;
      padding: 0px;
   }

   .contenido__nosotros {
      padding: 20px 20px;
      width: auto;
      height: auto;
   }

}

/*Especialidades*/
/*flexbox Especialidades*/
#contenido__especialidades {
   display: grid;
   grid-template-rows: repeat(6, auto);
   grid-template-areas:
      "header"
      "slider"
      "especialidades__intro"
      "especialidades__esp"
      "suscribete"
      "footer";
}

#header {
   grid-area: header;
}

#slider {
   grid-area: slider;
}

#especialidades__intro {
   grid-area: especialidades__intro;
}

#especialidades__esp {
   grid-area: especialidades__esp;
}

#suscribete {
   grid-area: suscribete;
}

#footer {
   grid-area: footer;
}

.contenido__especialidades {
   text-align: justify;
   font-size: 1.2 rem;
   background: #f3fcfc;
   color: #0a0a0a;
   word-spacing: 50%;
   width: 600px;
   height: auto;
   padding: 50px 50px;
}

.img__especialidades {
   width: 40%;
   height: auto;
   bottom: 0;
   left: 0;
}

.contenedor__especialidades {
   background: #c5eef849;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   justify-items: center;
   flex-wrap: wrap;
   text-decoration: none;
   padding: 20px 0px;
}

@media (min-width : 1024px) {
   .menu__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
   }

   .menu__footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
   }
}

@media (min-width: 768px) and (max-width: 1024px) {
   .menu__header {
      position: sticky;
      display: flex;
      flex-direction: column;
   }

   .menu__footer {
      display: flex;
      flex-direction: column;
   }
}

@media (min-width: 360px) and (max-width: 768px) {
   .menu__header {
      position: sticky;
      display: flex;
      flex-direction: column;
   }

   .menu__footer {
      display: flex;
      flex-direction: column;
   }

   article {
      display: flex;
      flex-direction: column-reverse;
   }

   .img__especialidades {
      height: auto;
      width: auto;
      padding: 0px;
   }

   .contenido__especialidades {
      padding: 50px 20px;
      height: auto;
      width: auto;
   }

   .contenedor__especialidades{
      display: flex;
      width: auto;
      height: auto;
   }

}

/*Staff Medico*/
/*flexbox Staff Médico*/
#contenido__staff {
   display: grid;
   grid-template-rows: repeat(6, auto);
   grid-template-areas:
      "header"
      "slider"
      "staff__contenido"
      "staff__card"
      "suscribete"
      "footer";
}

#header {
   grid-area: header;
}

#slider {
   grid-area: slider;
}

#staff__contenido {
   grid-area: staff__contenido;
}

#staff__card {
   grid-area: staff__card;
}

#suscribete {
   grid-area: suscribete;
}

#footer {
   grid-area: footer;
}

.img__staff {
   width: 40%;
   height: auto;
   bottom: 0;
   left: 0;
}

.contenido__medicos {
   text-align: justify;
   font-size: 1.2 rem;
   background: #d2cadb83;
   color: #0a0a0a;
   word-spacing: 50%;
   width: 600px;
   height: auto;
   padding: 50px 50px;
}

.galeria__staff {
   margin: 20px;
   padding: 20px;
   display: flex;
}

.figura {
   text-align: center;
   color: #0032a0;
   font-weight: 600;
   text-decoration: none;
}

.figura__imagen {
   width: 100%;
   height: auto;
   bottom: 0;
   left: 0;
}

@media (min-width : 1024px) {
   .menu__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
   }

   .menu__footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
   }
}

@media (min-width: 768px) and (max-width: 1024px) {
   .menu__header {
      position: sticky;
      display: flex;
      flex-direction: column;
   }

   .menu__footer {
      display: flex;
      flex-direction: column;
   }

   .contenedor{
      width: auto;
      height: auto;
   }

   .figura p{
      display: none;
      font-size: 12px;
   }
}

@media (min-width: 360px) and (max-width: 768px) {
   .menu__header {
      position: sticky;
      display: flex;
      flex-direction: column;
   }

   .menu__footer {
      display: flex;
      flex-direction: column;
   }

   article {
      display: flex;
      flex-direction: column-reverse;
   }

   .img__staff {
      height: auto;
      width: auto;
      padding: 0px;
   }

   .contenido__medicos {
      padding: 50px 20px;
      height: auto;
      width: auto;
   }

   .contenedor{
      display: flex;
      width: auto;
      height: auto;
   }
   .figura p{
      display: none;
      font-size: 12px;
   }

}

/*Servicios*/
/*flexbox Servicios*/
#contenido__servicios {
   display: grid;
   grid-template-rows: repeat(6, auto);
   grid-template-areas:
      "header"
      "slider"
      "servicios__contenido"
      "servicios__card"
      "suscribete"
      "footer";
}

#header {
   grid-area: header;
}

#slider {
   grid-area: slider;
}

#servicios__contenidos {
   grid-area: servicios__contenido;
}

#servicios__card {
   grid-area: servicios__card;
}

#suscribete {
   grid-area: suscribete;
}

#footer {
   grid-area: footer;
}

.contenido__servicios {
   text-align: justify;
   font-size: 1.2 rem;
   background: #d2cadb83;
   color: #0a0a0a;
   word-spacing: 50%;
   width: 600px;
   height: auto;
   padding: 50px 50px;
}

.img__servicios {
   width: 40%;
   height: auto;
   bottom: 0;
   left: 0;
}

.figura__servicios {
   width: 100%;
   height: auto;
   bottom: 0;
   left: 0;
}

@media (min-width : 1024px) {
   .menu__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
   }

   .menu__footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
   }
}

@media (min-width: 768px) and (max-width: 1024px) {
   .menu__header {
      position: sticky;
      display: flex;
      flex-direction: column;
   }

   .menu__footer {
      display: flex;
      flex-direction: column;
   }

   .contenedor{
      width: auto;
      height: auto;
   }
   
   #servicios__card{
      display: flex;
      padding: 0;
      
   }
}

@media (min-width: 360px) and (max-width: 768px) {
   .menu__header {
      position: sticky;
      display: flex;
      flex-direction: column;
   }

   .menu__footer {
      display: flex;
      flex-direction: column;
   }

   article {
      display: flex;
      flex-direction: column-reverse;
   }

   .img__servicios {
      height: auto;
      width: auto;
      padding: 0px;
   }

   .contenido__servicios {
      padding: 50px 20px;
      height: auto;
      width: auto;
   }

   .contenedor{
      display: flex;
      width: auto;
      height: auto;
   }

}

/*Horario*/
/*Flexbox Horarios*/
#contenido__horarios {
   display: grid;
   grid-template-rows: repeat(6, auto);
   grid-template-areas:
      "header"
      "slider"
      "horarios__contenido"
      "horarios__formulario"
      "suscribete"
      "footer";
}

#header {
   grid-area: header;
}

#slider {
   grid-area: slider;
}

#horarios__contenido {
   grid-area: horarios__contenido;
}

#horarios__formulario {
   grid-area: horarios__formulario;
}

#suscribete {
   grid-area: suscribete;
}

#footer {
   grid-area: footer;
}

.horario {
   margin: 20px 20px;
}

.contenedor__horarios {
   position: relative;
   margin: 50px 50px;
   display: flex;
   align-content: center;
   align-items: center;
}

.imagen__horario {
   width: 80%;
   padding: 20px 80px;
}

.formulario__horarios {
   width: 500px;

}

.input__horario {
   cursor: text;
   margin: 10px 0px;
   width: 100%;
   height: 40px;
   line-height: 40px;
   padding: 0 130px 0 20px;
   border-radius: 25px;
   box-sizing: border-box;
   font-size: 14px;
   color: #818181;
   border-color: #89bada;
}

.texto__horario {
   color: #0d0d0e;
   text-align: center;
   margin: 20px;
}

.contenido__horario {
   color: #0d0d0e;
   text-align: center;
}

@media (min-width : 1024px) {
   .menu__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
   }

   .menu__footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
   }
}

@media (min-width: 768px) and (max-width: 1024px) {
   .menu__header {
      position: sticky;
      display: flex;
      flex-direction: column;
   }

   .menu__footer {
      display: flex;
      flex-direction: column;
   }

   .imagen__horario {
      width: auto;
      padding: 0px;
   }
   
   #horarios__formulario{
      display: flex;
      padding: 30px;
      margin: 0;
      flex-direction: column;
      
   }
}

@media (min-width: 360px) and (max-width: 768px) {
   .menu__header {
      position: sticky;
      display: flex;
      flex-direction: column;
   }

   .menu__footer {
      display: flex;
      flex-direction: column;
   }

   #horarios__formulario{
      display: flex;
      flex-direction: column;
      
   }

   .imagen__horario {
      width: 100%;
      padding: 0px;
   }

   .formulario__horarios{
      width: auto;
      padding: 20px 20px;
   }


}